<!DOCTYPE html>
<html>
<head>
  <title>Moonlight Techs Forums Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <link rel="stylesheet" href="http://moonlighttechsforums.com/dev/blog/bootstrap.min.css">
  
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tag %>
</head>
<body>
<div class="container">
<div class="page-header">
<ul class="nav nav-pills pull-right">
<!-- Display welcome message if logged in -->
<% if user_signed_in? %>
<div id="user_welcome"><p>Signed in as <%= current_user.email %></p></div>
<% else %>
<% end %>

<!-- Begin Nav Links -->
<li>
<%= link_to "Home", "/" %>
</li>

<li>
<%= link_to "About", "/about" %>
</li>
<li>
<%= link_to "Forums", "http://moonlighttechsforums.com" %>
</li>
<!-- If user is signed in, display Manage Posts, Edit Account and Log out -->
<% if user_signed_in? %>
<li>
<%= link_to "Manage Posts", "/posts" %>
</li>
<li>
<%= link_to "Edit Account" , "/users/edit" %>
</li>
<li>
<%= link_to "Logout", destroy_user_session_path, :method => :get %>
</li>

<!-- If not signed in then display Login link -->
<% else %>
<li>
<%= link_to "Admin Login", "/users/sign_in" %>
</li>
<% end %>

</ul>
<!-- End navbar -->

<h1>
<%= link_to "Moonlight Techs Forums Blog", "/" %>
<br />
<small>
// Updates And Other Happenings
</small>
</h1>
</div>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= yield %>
</div>
</div>
</div>
<small><p>Powered by Stumblr <br /> &copy;2014 Ben Hodgson & <a href="http://moonlighttechsforums.com">Moonlight Techs Forums</a></p></small>
</body>
</html>
